@import "../styles/fonts.scss";
@import "./styles/desktop_version.scss";

.main_container{
    display: flex;
    flex-direction: column;
    background-color: var(--White_BG);
    width: 100%;
    height: 100%;
    position: relative;

    .top_layer{
        background-color: var(--Very_Pale_Blue_Top_BG_Pattern);
        height: 30%;
        width: 100%;
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        border-bottom-left-radius: 1.5rem;
        border-bottom-right-radius: 1.5rem;
    }

    .dashboardContainer{
        display: flex;
        flex-direction: column;
        position: relative;
        top: 0;
        padding: 3rem 2rem;
        z-index: 2;
        height: inherit;

        .header{
            @include font_style_Bold(1.8rem, black, 500);
            margin: 0;
            margin-bottom: 0.4rem;
        }

        .subHeading{
            @include font_style_Bold(1rem, var(--Dark_Grayish_Blue_Text), 500);
            margin: 0;
            margin-bottom: 1rem;
        }

        .line{
            width: 100%;
            border-bottom: 1px solid black;
            margin: 0;
            margin-bottom: 1.5rem;
        }

        .mode_container{
            display: flex;
            flex-direction: row;
            margin-bottom: 2rem;

            .mode{
                @include font_style_Bold(0.9rem, var(--Dark_Grayish_Blue_Text), 500);
                margin: 0;
            }

            

        }

        .platform_container{
            width: 100% !important;
            margin-bottom: 2rem !important;

            .block{
                display: flex;
                flex-direction: column;
                padding: 2rem 1rem;
                justify-content: center;
                align-items: center;
                background-color: var(--Light_Grayish_Blue_Card_BG);
                border-radius: 0.5rem;
                border-top: 0.4rem solid var(--Facebook);
                margin-bottom: 1.5rem;

                .icon{
                    display: flex;
                    flex-direction: row;
                    gap: 0.5rem;
                    align-items: center;
                    margin-bottom: 1rem;

                    img{
                        height: 1.5rem;
                    }

                    .tag_name{
                        @include font_style_Bold(0.8rem, var(--Dark_Grayish_Blue_Text), 500);
                        margin: 0;;
                    }
                }

                .follower_number{
                    @include font_style_Bold(4.5rem, black, 500);
                    margin: 0;
                }

                .follower_text{
                    @include font_style_light(1rem, var(--Dark_Grayish_Blue_Text), 500);
                    margin: 0;
                    letter-spacing: 0.4rem;
                    margin-bottom: 2rem;
                }

                span{
                    display: flex;
                    align-items: center;
                    text-align: center;
                    @include font_style_Bold(0.8rem, var(--Dark_Grayish_Blue_Text), 500);
                    gap: 0.3rem;
                    img{
                        height: 0.3rem;
                    }
                }

            }
        }

        .overview{
            margin: 0;
            margin-bottom: 2rem;
            @include font_style_Bold(1.5rem, var(--Dark_Grayish_Blue_Text), 500)
        }

        .overviw_container{
            display: flex;
            flex-direction: column;
            width: 100%;

            .overview_block{
                display: flex;
                flex-direction: column;
                margin-bottom: 1.5rem;
                padding: 1.5rem 1.5rem;
                background-color: var(--Light_Grayish_Blue_Card_BG);
                border-radius: 0.5rem;
                gap: 1.5rem;

                p{
                    margin: 0;;
                }

                .top, .bottom{
                    display: flex;
                    flex-direction: row;
                }

                .top{
                    margin-top: 0;
                    margin-bottom: auto;
                    align-items: center;

                    .page{
                        @include font_style_Regular(0.8rem, var(--Dark_Grayish_Blue_Text), 600);
                        margin-left: 0;
                        margin-right: auto;
                    }

                    img{
                        height: 1.5rem;
                        margin-left: auto;
                        margin-right: 0;
                    }
                }

                .bottom{
                    margin-top: auto;
                    margin-bottom: 0;

                    .number{
                        @include font_style_Bold(1.8rem, black, 500);
                        margin-left: 0;
                        margin-right: auto;
                    }

                    .rate{
                        display: flex;
                        flex-direction: row;
                        margin-left: auto;
                        margin-right: 0;
                        gap: 0.3rem;
                        align-items: center;

                        img{
                            height: 0.3rem;
                        }

                        p{
                            @include font_style_Bold(0.8rem, var(--Dark_Grayish_Blue_Text));

                        }
                    }
                }
            }
        }

    }
}