
<!-- main -->
 <main class="main_container">

  <!-- background colors -->
  <div class="top_layer"></div>

  <section class="dashboardContainer">

    <!-- heading -->
    <h1 class="header">Social Media DashBoard</h1>
    <p class="subHeading">Total Followers: 23,004</p>
    
    <!-- divider -->
    <div class="line"></div>

    <!-- theme switcher -->
    <div class="mode_container">

      <p class="mode">Dark Mode</p>
    </div>

    <!-- blocks -->
    <section class="platform_container">

      <div class="block">

        <!-- top -->
        <div class="icon">

          <img src="../assets/images/icon-facebook.svg"/>
          <p class="tag_name">nathanf</p>
        </div>

        <!-- middle -->
        <p class="follower_number">1987</p>
        <p class="follower_text">FOLLOWERS</p>

        <!-- bottom -->
        <span>
          <img src="../assets/images/icon-up.svg"/>
          12 Today
        </span>

      </div>

    </section>

    <h1 class="overview">Overview - Today</h1>

    <!-- block container -->
    <section class="overviw_container">

      <!-- block -->
      <div class="overview_block">

        <div class="top">
          <p class="page">Page Views</p>
          <img src="../assets/images/icon-facebook.svg"/>
        </div>

        <div class="bottom">
          <p class="number">87</p>
          <div class="rate">
            <img src="../assets/images/icon-down.svg"/>
            <p>2%</p>
          </div>
        </div>

      </div>
    </section>

  </section>

 </main>